/** @mainpage %Qore openldap Module

    Contents of this documentation:
    - @ref intro

    @section intro Introduction

    The openldap exposes functionality from the <a href="http://www.openldap.org">openldap</a> library as a Qore API, allowing qore programs to communicate with LDAP servers.

    This module is released under the <a href="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">LGPL 2.1</a> and is tagged as such in the module's header (meaning it can be loaded unconditionally regardless of how the Qore library was initialized).

    Like all Qore components, the openldap module is thread-safe.

    The underlying %LDAP functionality is provided by the <a href="http://www.openldap.org">openldap library</a>.    
*/
